@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}

.image {
  height: 200px;
  object-fit: fill;
  margin-bottom: 26px;
}

.title {
  height: 25px;
  font-size: 18px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  height: 100px;
  font-size: 16px;
  font-weight: 400;
}

.links {
  width: 100%;
  display: flex;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  height: 25px;
  width: 100%;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
